.body {
    font-min-size: 2vw;
}

.root {
    width: 100vw;
    height: 100vh;
}

.apply {
    background-color: bisque;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

h1 {
    padding: 0.5rem;
    flex: max-content;
    display: inline table;
}

a {
    padding-left: 1rem;
    color: tomato;
}

alert {
    margin: 1rem 1rem;
}

.container, container, .container-fluid, container-fluid {
    background-color: transparent !important;
    padding-left: 4rem;
}

.error-field {
    background-color: ivory;
    border-color: tomato;
}

.success-field {
    border-color: forestgreen;
}

.skeleton {
    padding-top: 2rem;
}

.skeleton-img {
    display: flex;
    max-width: 80%;
    height: auto;
}

.dashboard {
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.profile-form {
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.profile-field {
    padding-bottom: 1rem;

}

.canvas {
    height: 100%;
}

.navbar-text {
    display: flex;
}

.navbar-button {
    border: none;
    display: inline;
}

.apply-form {
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.apply-field {
    padding-bottom: 1rem;
}

.auth-form {
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 1rem;
}

.auth-field {
    padding-bottom: 1rem;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    margin-top: 0.5rem;
    background-color: ivory !important;
    border-color: ivory !important;
    color: tomato !important;
}